body {
    background-color: red;
}

#content{
    margin: 0 auto;
    width: 100%;
    display: block;
}

header, footer{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
}

header{
    color: blue;
    font-size: 24pt;
    align-items: center;
    padding: 25px;
}

main h1, main h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#table {
    text-align: center;
    align-items: center;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: gray;
    color: black;
}
  
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

a, #back, #forward {
    text-decoration: none;
    color: black;
}

#back {
    text-align: left;
    padding-top: 25px;
    padding-left: 25px;
}

#forward {
    text-align: right;
    padding-bottom: 25px;
    padding-right: 25px;
}

#back, #forward {
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    color: black;
    padding: 10px;
}

#datediv{
    color: black;
    padding-top: 10px;
}